<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.family.business.brblogfabulous.dao.BRBlogFabulousRepository">
    <resultMap id="BaseResultMap" type="com.gwf.family.business.brblogfabulous.entity.BRBlogFabulous">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="blog_id" jdbcType="INTEGER" property="blogId"/>
            <result column="uid" jdbcType="INTEGER" property="uid"/>
            <result column="fabulous_time" jdbcType="TIMESTAMP" property="fabulousTime"/>
            <result column="target_type" jdbcType="INTEGER" property="targetType"/>
            <result column="comment_id" jdbcType="INTEGER" property="commentId"/>
    </resultMap>

    <!--<cache type="com.gwf.family.business.core.util.RedisCache"/>-->
</mapper>