<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.family.business.bcomment.dao.BCommentRepository">
    <resultMap id="BaseResultMap" type="com.gwf.family.business.bcomment.entity.BComment">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="uid" jdbcType="INTEGER" property="uid"/>
            <result column="blog_id" jdbcType="INTEGER" property="blogId"/>
            <result column="content" jdbcType="LONGVARCHAR" property="content"/>
            <result column="stay_time" jdbcType="TIMESTAMP" property="stayTime"/>
            <result column="target_uid" javaType="INTEGER" property="targetUid"></result>
            <result column="target_type" javaType="INTEGER" property="targetType"></result>
    </resultMap>

    <!--<cache type="com.gwf.family.business.core.util.RedisCache"/>-->
</mapper>